/weights
/models
/masks
/results
/datasets
/notebooks/weights
/notebooks/models
/notebooks/datasets
/notebooks/results
/notebooks/encoder
/notebooks/netdissect
/notebooks/tracer
/notebooks/pretorched
/notebooks/utils
/notebooks/lpips
/notebooks/rewrite
/.idea
/testdata
.ipynb_checkpoints
__pycache__
*.pyc
.idea
node_modules/
.__*
.*.swp
sftp-config.json
